beautifulsoup4==4.11.2
cffi==1.15.1
chardet==5.1.0
colorclass==2.2.2
compressed-rtf==1.0.6
cryptography==39.0.1
customtkinter==5.1.2
darkdetect==0.8.0
easygui==0.98.3
ebcdic==1.1.1
extract-msg==0.39.0
IMAPClient==2.3.1
lark-parser==0.12.0
lxml==4.9.2
msoffcrypto-tool==5.0.0
olefile==0.46
oletools==0.60.1
pcodedmp==1.2.6
six==1.16.0
soupsieve==2.3.2.post1
tzdata==2022.7
tzlocal==4.2
win-unicode-console==0.5
